* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* hero section */

.hero {
  background-image: url("../Images/People-Laughing-at-Dinner-Table.jpeg");
  height: 600px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-cta {
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero h1 {
  font-size: 75px;
}

/* modal style */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(256, 256, 256, 0.4);
}

/* modal content */

.modal-content {
  /* background-color: rgba(22, 163, 128, 0.6); */
  background-image: url("../Images/food-spread.jpg");
  background-size: cover;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 30%;
}

.form-control {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: rgba(256, 256, 256, 0.8);
  outline: none;
}

form label {
  color: #ffffff;
  font-weight: bold;
}

/* modal buttons style */

.modal-footer {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 10px;
  padding: 7px 10px;
  margin: 8px;
  font-size: 12px;
  font-weight: bold;
  outline: none;
}

.btn-search, .btn-close {
  color: #ffffff;
  background-color: #f98376;
}

.btn-search:hover, .btn-close:hover, .btn-close:focus {
  background-color: #c94030;
  text-decoration: none;
  cursor: pointer;
}

#btn-open-modal, #btn-addRecipe, #btn-returnList {
  border-radius: 10px;
  background-color:#c94030;
  color: #ffffff;
}

#list-display, #ingredients {
  list-style: none;
}

#list-header {
  border: solid 1px black;
  padding: 1%;
  border-radius: 12px;
  background-color: #DEB887;
  margin: 1%;
  text-align: center;
}

#joke-div {
  border: solid 1px black;
  padding: 1%;
  border-radius: 12px;
  background-color: #DEB887;
  margin: 2% 1% 1% 1%;
  text-align: center;
}

.modal-title {
  border: solid 1px black;
  padding: 1%;
  border-radius: 12px;
  background-color: #DEB887;
  margin: 1%;
}

.stash-box-recipes {
  border: solid 1px black;
  padding: 1%;
  border-radius: 12px;
  background-color: #DEB887;
  margin-top: 2%;
  margin-bottom: 2%;
}

.recipe-list {
  border: solid 1px black;
  padding: 1%;
  border-radius: 12px;
  background-color: #DEB887;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}